<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link rel="icon" href = "{% static 'images/p.png'%}" type = "image/png">
<link rel="stylesheet" href="{% static 'homepage.css' %}">

<title>Homepage</title>

  
    
</head>
<body id = "p">
    <p></p>
	<h1>Etheria - home of the lost</h1>   
    <p> web crawler </p>
	<p >This is my personal blog, it would focus on basic topics that im trying to grasp my head around. Its not personal really, im making this out of existential anger.  </p>
    <p></p>
    <button class= "button"><a href = "http://127.0.0.1:8000/firstpage/">1.4.1</a></button>
</body>
</html>

